body {
  background-image: url("./resources/bg2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  font-size: 3.2rem;
  color: wheat;
  background-image: linear-gradient(to right, rgb(94, 8, 94, 0.5), rgb(94, 8, 94, 0.5));
}

.icon{
  cursor: pointer;
  color: wheat;
  font-size: 20px;
}

.container{
  margin-top: 40px;
}

.form-control{
  background-color: rgba(0, 0, 0, 0.637);
  color:wheat;
}

.ui label {
  color: wheat;
  padding-top: 5px;
  text-align: center;
}

.background {
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.616);
  padding: 20px;
}

.submit {
  width: 100%;
}